
header{
  text-align: center;
}
h1{
  text-align: center;
}
body {
  margin-top: calc(50vh - 30vw);
  margin-left:0;
  height:60vw;
  width:auto;
  font-family:optima, sans-serif;
  background-color: rgb(88, 9, 9);
  overflow: hidden;
  overflow-y:scroll;
}
.objects{
  right:0;
  left:0;
  top:0;
  bottom:0;
  margin: auto;
}

.aboutText{
  line-height: 150%;
  display: flex;
  justify-content: center;
  text-align:center;
  z-index:3;
  margin-top: 5vw;
  margin-left:27vw;
  position:absolute;
  background-color: rgba(255, 122, 122, 0);
  height: 37vw;
  width: 33vw;
  overflow:hidden;
  overflow-y:scroll;
  font-size: 20px;
}

.bottomAboutText{
  z-index:4;
}

.portText{
  z-index:4;
  margin-top: 4vw;
  margin-left:49vw;
  position:absolute;
  background-color: rgba(57, 235, 255, 0);
  height: 15vw;
  width: 15vw;
  overflow:hidden;
  overflow-y:scroll;
  font-size: 15px;
}
.sprite img{
  position:absolute;
  z-index: 1;
  margin:0;
  padding:0;
  width:100vw;
  height:auto;
}
.table{
  position:absolute;
  z-index: 2;
  margin:0;
  padding:0;
  width:100vw;
  height:auto;
}

.container{
  position:absolute;
  z-index: 0;
  margin:0;
  padding:0;
  width:100vw;
  height:auto;
  background-color: aqua;
  
}

.navbar{
  z-index: 5;
  position:absolute;
  margin-top:52vw;
  font-size: 3vw;
}

.individual-link{
  padding:10vw;
  color:rgb(241, 227, 219);
}

.button {
  width: 20%;
  height: auto;
  font-size:24px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color:rgb(106, 0, 0);
}

.portfolio{
  z-index:3;
  margin-top: 2vw;
  margin-left:2vw;
  position:absolute;
  background-color: whitesmoke;
  height: 45vw;
  width: 40vw;

}

.portfolioItems{
  outline:10px;
  border: 3px solid black;
  height: 45vw;
  width: 43vw;
  padding: 1vw;
  background-color: bisque;
  overflow:hidden;
  overflow-y:scroll;

}

.portfolioItems img{
  width: 43vw;
  height: auto;
}

.invisibleClickable{
  position: absolute;
  z-index:5;
  background: transparent;
  border: none;
  width: 10vw;
  height: 10vw; 
}

.lantern{
  margin-top: 12vw;
  margin-left: 58vw; 
  position: inherit;
  z-index:6;
  background: inherit;
  border: inherit;
  width: inherit;
  height: inherit;  
}

.lantern1{
  margin-top: 16vw;
  margin-left: 37vw; 
  position: inherit;
  z-index:6;
  background: inherit;
  border: inherit;
  width: 7vw;
  height: inherit;  
}

.lantern2{
  margin-top: 21vw;
  margin-left: 90vw; 
  position: inherit;
  z-index:6;
  background: inherit;
  border: inherit;
  width: 7vw;
  height: inherit;  
}


.blink
{
  position: absolute;
  z-index:2;
  margin:0;
  padding:0;
  width:100vw;
  height:auto;
}

.Arthur_Images img{
  height: 600px;
  width: auto;
  overflow:hidden;
  overflow-y:scroll;
}